body{
	background-color:#e6e6e6;
}

.box{
	margin:auto;
	width:50%;
	height:200px;
	background-color:cyan;
	margin-top:100px;
	padding:15px;
	border-radius:20px;
	
}

p{
	color:blue;
	font-size:120%;
	font-family:Palatino Linotype;
}

h2{
	color:blue;
	font-family:Palatino Linotype;
}

.input{
	padding:7px;
}

.buttons{
	padding:10px;
	border-radius:5px;
}