body{
	background-color:#f2f2f2;
}

.container{
	width:60%;
	height:400px;
	margin:auto;
	background-color:#99ccff;
	padding-left:30px;
	padding-top:25px;
	padding-bottom:30px;
	padding-right:30px;
	margin-top:80px;
	border-radius:10px;
}

.title{
	padding:0px;
	color:navy;
	margin:0px;
	margin-bottom:15px;
	font-family:Palatino Linotype;
}

.text{
	font-family:Palatino Linotype;
	color:yellow;
}

.form{
	margin-top:25px;
}

.button{
	font-size:100%;
	padding:5px;
	font-family:Palatino Linotype;
	color:green;
	border-radius:10px;
	margin-left:10;
	float:right;
	text-decoration:none;
	
}

.button1{
	font-size:100%;
	padding:5px;
	font-family:Palatino Linotype;
	color:green;
	width:300;
	float:left;
}

.bar{
	margin-top:25px;
	margin-bottom:15px;
	margin-left:10;
	margin-right:10;
	padding-top:20px;
	float:left;
}
img{
	margin-top:30px;
	padding-bottom:0px;
}